@import "./variables.scss";

@mixin nav-btn {
  width: 80%;
  height: 80%;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

@mixin div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin link {
  text-decoration: none;
  color: white;
}
