@import "./variables.scss";

// Buttons in Nav
@mixin nav-btn {
  width: 80%;
  height: 80%;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

// Buttons in modals
@mixin modal-btn {
  width: 30%;
  height: 50%;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

// Buttons in item
@mixin item-btn {
  @include div-center;
  margin: 0;
  padding: 0;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 2px 2px black;
  }
}

// Buttons in settings
@mixin settings-btn {
  width: 70%;
  height: 40%;
  cursor: pointer;
}

// Close modal button
@mixin close-btn {
  width: 100%;
  height: 100%;
  @include div-center;
  cursor: pointer;
  background-color: red;
}

// Centering by flex
@mixin div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Link decoration
@mixin link {
  text-decoration: none;
  color: white;
}

// Modal basic
@mixin modalBasicWithoutMessage {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 300px;
  height: 0;
  background-color: black;
  position: absolute;
  z-index: 1;
  cursor: auto;
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 30px 1fr 60px;
  grid-template-areas:
    "loading close"
    "main main"
    "button button";
  transition: 0.2s linear;
}

// Field in modal/main
@mixin modalFieldContainer {
  margin-top: 10px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 20px 0.5fr 1fr;
  grid-template-rows: 30% 30px 1fr;
  grid-template-areas:
    " . label input"
    " . . error"
    " . . .";
  font-weight: normal;
}
