// LIGHT THEME
$light-gray-darken: #676767;
$light-gray-mid: #909090;
$light-gray-lighter: #cdcdcd;
$green-darken: #009900;
$green-btn: #81d16b;
$green-lighter: #00e600;
$red-darken: #cc0000;
$red-btn: #ff4040;
$red-expired: #ed6161;
$red-lighter: #ff0000;
$violet-btn: #d15ec2;

// DARK THEME

$dark-gray-ultradark: #141414;
$dark-gray-darken: #292929;
$dark-gray-mid: #3e3e3e;
$dark-gray-lighter: #525252;
$blue-darken: #00008e;
$blue-lighter: #0000d6;
$violet-darken: #5c0050;
$violet-lighter: #9c0087;
$green-done: #1a6600;
$red-delete: #9e0000;
$red-expired-dark: #660700;
