///////////// COLORS ///////////

// LIGHT THEME
$light-gray-darken: #676767;
$light-gray-mid: #909090;
$light-gray-lighter: #cdcdcd;
$green-darken: #009900;
$green-btn: #69ff40;
$green-lighter: #00e600;
$red-darken: #cc0000;
$red-btn: #ff4040;
$red-lighter: #ff0000;

// DARK THEME
