@import "../mixins.scss";
@import "../variables.scss";

.accordion {
  width: 100%;
  height: auto;
  margin-top: 5px;

  .accordion__bar {
    display: block;
    border: none;
    width: 100%;
    height: 50px;
    background: rgb(0, 153, 0);
    background: linear-gradient(45deg, rgba(0, 153, 0, 1) 0%, rgba(0, 230, 0, 1) 100%);
    box-shadow: 0 0 1px 0px #009900;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    .accordion__title {
      flex-basis: 60%;
      text-transform: uppercase;
      @include div-center;
      font-size: 18px;
    }

    .accordion__amount {
      flex-basis: 20%;
      @include div-center;
      font-size: 18px;
    }

    .accordion__add {
      height: 100%;
      flex-basis: 10%;
      @include div-center;
    }

    .accordion__arrow {
      @include div-center;
      flex-basis: 10%;
      font-size: 25px;

      .accordion__icon {
        transform-origin: 50% 50%;
        transition: 0.2s linear;
      }

      .accordion__icon.active {
        transform: rotate(180deg);
      }
    }
  }

  .accordion__content {
    overflow: hidden;
    width: 100%;
    height: 0;
    // transition: 0.2s linear;
  }

  .accordion__content.active {
    height: auto;
    margin-bottom: 20px;
  }

  .accordion__bar.expense {
    background: rgb(204, 0, 0);
    background: linear-gradient(45deg, rgba(204, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    box-shadow: 0 0 1px 0px #cc0000;
  }
}
