@import "../mixins.scss";
@import "../variables.scss";

.edit {
  width: 100%;
  height: 100%;
  @include div-center;

  .edit__btn {
    @include item-btn;
    background-color: $light-gray-mid;
    box-shadow: 0 0 2px 0px $light-gray-mid;
    &:hover {
      box-shadow: 0 0 3px 0.5px $light-gray-mid;
    }
  }

  .edit__btn.active {
    box-shadow: 0 0 3px 1.5px $light-gray-mid;
    font-size: 25px;
  }

  .edit__modal {
    @include modalBasicWithoutMessage;

    .edit__modalLoading {
      grid-area: loading;
    }

    .edit__modalClose {
      grid-area: close;
      .edit__closeBtn {
        @include close-btn;
      }
    }

    .edit__modalMain {
      grid-area: main;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }

    .edit__modalButton {
      grid-area: button;
      @include div-center;

      .edit__submitBtn {
        @include modal-btn;
        margin-bottom: 30px;
      }
    }
  }

  .edit__modal.active {
    height: 500px;
    box-shadow: 0 0 5px 1px $light-gray-darken, 0 0 50px 30px black;
  }
}
