@import "../mixins.scss";
@import "../variables.scss";

.edit {
  width: 100%;
  height: 100%;
  @include div-center;

  .edit__btn {
    @include item-btn;
    background-color: $light-gray-mid;
    box-shadow: 0 0 2px 0px $light-gray-mid;
    &:hover {
      box-shadow: 0 0 3px 0.5px $light-gray-mid;
    }
  }
  // DARK
  .edit__btn.dark {
    background-color: $dark-gray-lighter;
    color: $light-gray-lighter;
    box-shadow: 0 0 2px 0px $dark-gray-lighter;

    &:hover {
      box-shadow: 0 0 3px 0.5px $dark-gray-lighter;
    }
  }

  .edit__btn.active {
    box-shadow: 0 0 3px 1.5px $light-gray-mid;
    font-size: 25px;
  }
  // DARK
  .edit__btn.active.dark {
    box-shadow: 0 0 3px 1.5px $dark-gray-lighter;
    font-size: 25px;
  }

  .edit__modal {
    @include modalBasicWithoutMessage;

    .edit__modalLoading {
      grid-area: loading;
      @include div-center;
    }

    .edit__modalClose {
      grid-area: close;
      .edit__closeBtn {
        @include close-btn;
      }
    }

    .edit__modalMain {
      grid-area: main;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }

    .edit__modalButton {
      grid-area: button;
      @include div-center;

      .edit__submitBtn {
        @include modal-btn;
        margin-bottom: 30px;
      }
    }
  }

  .edit__modal.dark {
    @include modalBasicWithoutMessageDark;

    .edit__submitBtn {
      @include modal-btn-dark;
    }
  }

  .edit__modal.active {
    height: 500px;
    box-shadow: 0 0 5px 1px $light-gray-darken, 0 0 50px 30px black;
  }

  .edit__modal.active.dark {
    box-shadow: 0 0 5px 1px black, 0 0 50px 30px $light-gray-mid;
  }
}

@media (max-height: 629.98px) {
  .edit {
    .edit__modal.active {
      height: 80vh;
    }
  }
}

@media (max-height: 539.98px) {
  .edit {
    .edit__modal.active {
      height: 90vh;
      z-index: 50;
    }
  }
}

@media (max-height: 479.98px) {
  .edit {
    .edit__modal.active {
      height: 95vh;
    }
  }
}

@media (max-height: 449.98px) {
  .edit {
    .edit__modal.active {
      width: 600px;
      .edit__modalMain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ". ."
          ". ."
          ". .";
      }
    }
  }
}
