@import "../mixins.scss";

.edit {
  width: 100%;
  height: 100%;
  @include div-center;

  .edit__btn {
    @include item-btn;
  }

  .edit__btn.active {
    box-shadow: 0 0 2px 2px black;
  }

  .edit__modal {
    @include modalBasicWithoutMessage;

    .edit__modalLoading {
      grid-area: loading;
      background-color: blue;
    }

    .edit__modalClose {
      grid-area: close;
      background-color: red;
      .edit__closeBtn {
        @include close-btn;
      }
    }

    .edit__modalMain {
      grid-area: main;
      background-color: orange;
      display: flex;
      flex-direction: column;
    }

    .edit__modalButton {
      grid-area: button;
      background-color: blueviolet;
      @include div-center;

      .edit__submitBtn {
        @include modal-btn;
      }
    }
  }

  .edit__modal.active {
    height: 400px;
  }
}
