@import "../mixins.scss";
@import "../variables.scss";

.item {
  margin: 5px auto;
  width: 95%;
  height: 50px;
  display: grid;
  background-color: $light-gray-lighter;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px $light-gray-darken;
  grid-template-columns: 50% 10% 10% 30%;
  grid-template-rows: 1fr;
  grid-template-areas: "title amount deadline options";
  box-sizing: border-box;

  .item__title {
    position: relative;
    @include div-center;
    cursor: pointer;
    padding-left: 30px;

    .item__titleWithoutDescr {
      grid-area: text;
      @include div-center;
      cursor: auto;
    }

    .item__titleText {
      width: 100%;
      height: 100%;
      @include div-center;
      transition: 0.3s linear;

      .item__textSpan.active {
        animation: rotateTitleText 0.3s 1 linear both;
      }
    }

    .item__titleText.active {
      animation: rotateTitleDiv 0.3s 1 linear both;
    }

    .item__click {
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: 18px;
      @include div-center;
    }

    .item__description {
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 18px;
      @include div-center;
      transform: scale(1);

      .item__descriptionIcon.active {
        color: yellow;
        transition: 0.2s linear;
      }
    }
  }

  .item__amount {
    grid-area: amount;
    border: 2px solid $light-gray-mid;
    border-radius: 5px;
    font-weight: bold;
    @include div-center;
    word-wrap: break-word;
  }

  .item__amount.dark {
    border: 2px solid $light-gray-mid;
  }

  .item__goalValues {
    border: 2px solid $light-gray-darken;
    border-radius: 5px;
    grid-area: values;
    display: flex;

    .item__goalInfo {
      position: fixed;
      overflow: hidden;
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 0;
      transition: 0.2s linear;
      @include light-gray-bgc;
      z-index: 7;
      display: flex;

      .item__goalClose {
        position: absolute;
        top: 0;
        right: 0;
        @include close-btn;
        width: 30px;
        height: 30px;
      }

      .item__goalPrice,
      .item__goalAmount,
      .item__goalAmountResult {
        flex-basis: 33.33333%;
        margin-top: 35px;
      }
    }

    .item__goalInfo.active {
      height: 100px;
      box-shadow: 0 0 5px 1px $light-gray-darken, 0 0 40px 20px black;
    }

    .item__goalPrice {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .item__goalPrice.btn {
      position: relative;
      flex-grow: 1;
      background-color: transparent;
      border: none;
      @include div-center;
      cursor: pointer;
      font-size: 15px;
      font-weight: bold;

      .item__goalBtnClick {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }

    .item__goalAmount {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      font-weight: bold;
    }

    .item__goalAmountResult {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .item__goalTitle {
      flex-basis: 30%;
      color: black;
      @include div-center;
    }

    .item__goalValue {
      flex-basis: 70%;
      @include div-center;
    }
  }

  .item__deadline {
    grid-area: deadline;
    @include div-center;

    .item__deadlineContainer {
      position: relative;
      width: 100%;
      height: 100%;
      @include div-center;
      cursor: pointer;

      .item__clickSign {
        position: absolute;
        top: 4px;
        right: 2px;
        font-size: 18px;
      }
    }

    .item__deadlineContainer.active {
      animation: rotateTitleDiv 0.3s 1 linear both;
    }

    .item__deadlineText.active {
      animation: rotateTitleText 0.3s 1 linear both;
    }
  }

  .item__deadline.close {
    box-sizing: border-box;
  }

  .item__deadline.expired {
    box-sizing: border-box;
    border: 2px solid $red-darken;
  }

  .item__options {
    grid-area: options;
    display: flex;

    .item__btn {
      @include item-btn;
    }

    .item__edit {
      flex-basis: 33.3333%;
      @include div-center;
    }

    .item__delete {
      flex-basis: 33.3333%;
      @include div-center;
    }

    .item__empty {
      flex-basis: 33.3333%;
      @include div-center;
    }

    .item__done {
      flex-basis: 33.3333%;
      @include div-center;
    }
  }
}

.item.dark {
  color: $light-gray-lighter;
  background-color: $dark-gray-ultradark;
  box-shadow: 0 0 5px 0px $light-gray-darken;

  .item__deadlineContainer.active {
    animation: rotateTitleDiv 0.3s 1 linear both;
  }
}

.item.income {
  grid-template-columns: 50% 10% 10% 30%;
  grid-template-areas: "title amount empty options";
}

.item.goal {
  grid-template-columns: 30% 30% 10% 30%;
  grid-template-areas: "title values deadline options";
}

.item.goal.dark {
  .item__goalTitle {
    color: $light-gray-lighter;
  }

  .item__goalInfo.active {
    box-shadow: 0 0 5px 1px black, 0 0 40px 20px $light-gray-mid;
  }

  .item__goalPrice.btn {
    color: $light-gray-lighter;
  }

  // INFO MODAL - SAVINGS GOALS
  .item__goalInfo {
    @include dark-gray-bgc;
    color: $light-gray-lighter;
    display: flex;
  }
}

// DONE EXPENSE
.item.finished {
  background-color: $green-btn;
  border: 2px solid $light-gray-lighter;

  .item__goalValues {
    border: 2px solid $light-gray-lighter;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
  }

  .item__amount {
    border: 2px solid $light-gray-lighter;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
  }

  .item__titleText.active {
    animation-name: rotateTitleDiv;
  }
}

// DONE EXPENSE DARK
.item.finished.dark {
  background-color: $green-done;
}

.item.close {
  .item__deadline {
    border-radius: 5px;
    animation: deadlineClose 1s infinite linear alternate;
  }
}

// EXPENSE EXPIRED
.item.expired {
  background-color: $red-expired;
  border: 2px solid $light-gray-lighter;

  .item__goalValues {
    border: 2px solid $light-gray-lighter;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
  }

  .item__amount {
    border: 2px solid $light-gray-lighter;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
  }

  .item__titleText.active {
    animation-name: rotateTitleDiv;
  }
}

// EXPENSE EXPIRED DARK
.item.expired.dark {
  background-color: $red-expired-dark;

  .item__deadlineContainer.active {
    animation: rotateTitleDiv 0.3s 1 linear both;
  }
}

@media (max-width: 749.98px) {
  .item.goal {
    grid-template-columns: 45% 15% 10% 30%;
    grid-template-areas: "title values deadline options";
  }
}

@media (max-width: 599.98px) {
  .item {
    width: 99%;
    .item.income {
      grid-template-columns: 50% 15% 5% 30%;
      grid-template-areas: "title amount empty options";
    }
  }
}

@media (max-width: 539.98px) {
  .item.income {
    grid-template-columns: 50% 18% 2% 30%;
    grid-template-areas: "title amount empty options";
  }
  .item.goal {
    grid-template-columns: 50% 20% 30%;
    grid-template-areas: "title values options";
    .item__goalInfo {
      width: 90%;
      .item__goalPrice,
      .item__goalAmount,
      .item__goalAmountResult,
      .item__deadline {
        flex-basis: 25%;
        margin-top: 35px;
      }
    }
  }
  .item {
    grid-template-columns: 50% 20% 20% 10%;
    grid-template-areas: "title amount deadline options";
  }

  .monthly .item,
  .simulator .item {
    grid-template-columns: 50% 15% 15% 20%;
    grid-template-areas: "title amount deadline options";

    // SLOT 1
    .item__done,
    .item__empty {
      flex-basis: 0;
    }

    // SLOT 2,3
    .item__edit,
    .item__delete {
      flex-basis: 50%;
    }
  }
}

@media (max-width: 419.98px) {
  .item.goal {
    grid-template-columns: 50% 20% 30%;
    grid-template-areas: "title values options";
  }
}

@keyframes rotateTitleDiv {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}

@keyframes rotateTitleText {
  0% {
    opacity: 1;
  }

  47% {
    opacity: 0;
  }

  53% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes deadlineClose {
  0% {
    box-shadow: 0 0 3px 0.5px red inset;
  }

  100% {
    box-shadow: 0 0 3px 2px red inset;
  }
}
