@import "../mixins.scss";
@import "../variables.scss";

.item {
  margin: 5px auto;
  width: 95%;
  height: 50px;
  display: grid;
  background-color: $light-gray-lighter;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px $light-gray-darken;
  grid-template-columns: 50% 10% 10% 30%;
  grid-template-rows: 1fr;
  grid-template-areas: "title amount deadline options";
  box-sizing: border-box;

  .item__title {
    position: relative;
    @include div-center;
    cursor: pointer;

    .item__titleWithoutDescr {
      grid-area: text;
      @include div-center;
      cursor: auto;
    }

    .item__titleText {
      width: 100%;
      height: 100%;
      @include div-center;
      transition: 0.3s linear;

      .item__textSpan.active {
        animation: rotateTitleText 0.3s 1 linear both;
      }
    }

    .item__titleText.active {
      animation: rotateTitleDiv 0.3s 1 linear both;
    }

    .item__click {
      position: absolute;
      bottom: 5px;
      left: 5px;
      font-size: 18px;
      @include div-center;
    }

    .item__description {
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 18px;
      @include div-center;
      transform: scale(1);

      .item__descriptionIcon.active {
        transform: scale(1.3);
        transition: 0.2s linear;
      }
    }
  }

  .item__amount {
    grid-area: amount;
    border: 2px solid $light-gray-darken;
    border-radius: 5px;
    font-weight: bold;
    @include div-center;
  }

  .item__goalValues {
    border: 2px solid $light-gray-darken;
    border-radius: 5px;
    grid-area: values;
    display: flex;

    .item__goalPrice {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .item__goalAmount {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      font-weight: bold;
    }

    .item__goalAmountResult {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .item__goalTitle {
      flex-basis: 30%;
      color: black;
      @include div-center;
    }

    .item__goalValue {
      flex-basis: 70%;
      @include div-center;
    }
  }

  .item__deadline {
    grid-area: deadline;
    @include div-center;

    .item__deadlineContainer {
      position: relative;
      width: 100%;
      height: 100%;
      @include div-center;
      cursor: pointer;

      .item__clickSign {
        position: absolute;
        top: 2px;
        right: 0;
        font-size: 18px;
      }
    }

    .item__deadlineContainer.active {
      animation: rotateTitleDivDeadline 0.3s 1 linear both;
    }

    .item__deadlineText.active {
      animation: rotateTitleText 0.3s 1 linear both;
    }
  }

  .item__deadline.close {
    box-sizing: border-box;
    border: 3px solid fuchsia;
  }

  .item__deadline.expired {
    box-sizing: border-box;
    border: 2px solid $red-darken;
  }

  .item__options {
    grid-area: options;
    display: flex;

    .item__btn {
      @include item-btn;
    }

    .item__edit {
      flex-basis: 33.3333%;
      @include div-center;
    }

    .item__delete {
      flex-basis: 33.3333%;
      @include div-center;
    }

    .item__empty {
      flex-basis: 33.3333%;
      @include div-center;
    }

    .item__done {
      flex-basis: 33.3333%;
      @include div-center;
    }
  }
}

.item.income {
  grid-template-columns: 50% 10% 10% 30%;
  grid-template-areas: "title amount empty options";
}

.item.goal {
  grid-template-columns: 30% 30% 10% 30%;
  grid-template-areas: "title values deadline options";
}
// DONE EXPENSE
.item.finished {
  background: rgba(0, 153, 0, 0.7);
  background: linear-gradient(45deg, rgba(0, 153, 0, 0.7) 0%, rgba(0, 230, 0, 0.7) 100%);
  border: 2px solid $light-gray-lighter;

  .item__goalValues {
    border: 2px solid $light-gray-lighter;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
  }

  .item__amount {
    border: 2px solid $light-gray-lighter;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
  }

  .item__titleText.active {
    animation-name: rotateTitleDivFinished;
  }
}

.item.close {
  .item__deadline {
    border-radius: 5px;
    animation: deadlineClose 1s infinite linear alternate;
  }
}

// EXPENSE EXPIRED
.item.expired {
  background: rgb(204, 0, 0);
  background: linear-gradient(45deg, rgba(204, 0, 0, 0.7) 0%, rgba(255, 0, 0, 0.7) 100%);
  border: 2px solid $light-gray-lighter;

  .item__goalValues {
    border: 2px solid $light-gray-lighter;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
  }

  .item__amount {
    border: 2px solid $light-gray-lighter;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
  }

  .item__titleText.active {
    animation-name: rotateTitleDivFinished;
  }
}

@keyframes rotateTitleDiv {
  0% {
    transform: rotateX(0deg);
    background-color: $light-gray-darken;
  }

  50% {
    background-color: $light-gray-darken;
  }

  100% {
    transform: rotateX(180deg);
  }
}

@keyframes rotateTitleDivDeadline {
  0% {
    transform: rotateX(0deg);
    background-color: $light-gray-darken;
  }

  50% {
    background-color: $light-gray-darken;
  }

  100% {
    transform: rotateX(360deg);
  }
}

@keyframes rotateTitleText {
  0% {
    opacity: 1;
  }

  47% {
    opacity: 0;
  }

  53% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotateTitleDivFinished {
  0% {
    transform: rotateX(0deg);
    background-color: $light-gray-lighter;
  }

  50% {
    background-color: $light-gray-lighter;
  }

  100% {
    transform: rotateX(180deg);
  }
}

@keyframes deadlineClose {
  0% {
    box-shadow: 0 0 3px 0.5px red inset;
  }

  100% {
    box-shadow: 0 0 3px 2px red inset;
  }
}
