@import "../mixins.scss";
@import "../variables.scss";

.logReg {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  .logReg__login,
  .logReg__register {
    flex-basis: 50%;
    display: flex;
    align-items: center;

    .logReg__name {
      margin: 0 auto;
    }

    .logReg__name.dark {
      color: $light-gray-lighter;
    }

    .logReg__btn {
      @include nav-btn;
    }

    .logReg__btn.dark {
      @include nav-btn-dark;
    }

    .logReg__loginModal {
      position: absolute;
      top: 100%;
      left: 0%;
      width: 100%;
      height: 40vh;
      transform-origin: 0 0;
      transform: scale(0);
      @include light-gray-bgc;
      transition: 0.2s linear;
      z-index: -1;
      overflow: hidden;
    }

    .logReg__loginModal.dark {
      @include dark-gray-bgc;
    }

    .logReg__loginModal.active {
      transform: scale(1);
      box-shadow: 0 0 30px 10px $light-gray-darken;
    }

    .logReg__loginModal.active.dark {
      box-shadow: 0 0 5px 1px black, 0 0 50px 30px $light-gray-mid;
    }

    .logReg__background {
      width: 100%;
      height: 100%;
      @include light-gray-bgc;
      opacity: 0;
      transition: 0.3s linear 0.2s;
      display: grid;
      grid-template-columns: 1fr 30px;
      grid-template-rows: 30px 1fr 60px 60px;
      grid-template-areas:
        "loading close"
        "main main"
        "button button"
        "message message";

      .logReg__modalClose {
        @include close-btn;
        grid-area: close;
      }

      .logReg__modalLoading {
        grid-area: loading;
      }

      .logReg__modalMain {
        grid-area: main;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
      }

      .logReg__modalButton {
        grid-area: button;
        @include div-center;

        .logReg__modalBtn {
          @include modal-btn;
        }
      }

      .logReg__modalMessage {
        grid-area: message;
        @include div-center;
      }
    }

    .logReg__background.dark {
      @include dark-gray-bgc;

      .logReg__modalMessage {
        color: $light-gray-lighter;
      }

      .logReg__modalBtn {
        @include modal-btn-dark;
      }
    }

    .logReg__background.active {
      opacity: 1;
    }

    .logReg__registerModal {
      position: absolute;
      top: 100%;
      right: 0%;
      transform-origin: 100% 0;
      transform: scale(0);
      height: 60vh;
      width: 100%;
      @include light-gray-bgc;
      transition: 0.2s linear;
      z-index: -1;
    }

    .logReg__registerModal.active {
      transform: scale(1);
      box-shadow: 0 0 30px 10px $light-gray-darken;
    }

    .logReg__registerModal.dark {
      @include dark-gray-bgc;
    }

    .logReg__registerModal.active.dark {
      box-shadow: 0 0 5px 1px black, 0 0 50px 30px $light-gray-mid;
    }
  }

  .logReg__register {
    justify-content: flex-end;
    margin-right: 5px;
  }

  .logReg__login {
    margin-left: 5px;
  }

  .logReg__fieldContainer {
    @include modalFieldContainer;

    .logReg__labelContainer {
      grid-area: label;
      display: flex;
      align-items: center;
    }

    .logReg__inputContainer {
      grid-area: input;
      display: flex;
      align-items: center;

      .logReg__input {
        @include modal-input;
      }
    }

    .logReg__errorContainer {
      grid-area: error;
      display: flex;
      margin-top: 10px;
      color: $red-darken;
    }
  }

  .logReg__fieldContainer.dark {
    .logReg__labelContainer {
      color: $light-gray-lighter;
    }

    .logReg__input {
      @include modal-input-dark;
      color: $light-gray-lighter;
    }

    .logReg__errorContainer {
      color: $red-btn;
    }
  }
}
