@import "../mixins.scss";
@import "../variables.scss";

.renew {
  width: 100%;
  height: 100%;
  @include div-center;

  .renew__btn {
    @include item-btn;
    background-color: #ffcf40;
    box-shadow: 0 0 2px 0px #ffcf40;
    &:hover {
      box-shadow: 0 0 3px 0.5px #ffcf40;
    }
  }
}
