@import "../mixins.scss";
@import "../variables.scss";

.savings {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 50px;

  .savings__noAuthMessage {
    position: absolute;
    text-align: center;
    font-size: 18px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .savings__noAuthMessage.dark {
    color: $light-gray-lighter;
  }
}
