@import "../mixins.scss";
@import "../variables.scss";

.theme {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 1fr;
  grid-template-areas: "title opt1 opt2";

  .theme__btn {
    @include settings-btn;
    border: 2px solid black;
    transition: 0.1s linear;
  }

  .theme__btn.darkTheme {
    @include dark-gray-bgc;
    border: 2px solid $dark-gray-darken;

    &:hover {
      box-shadow: 0 0 2px 1px $dark-gray-darken;
    }
  }

  .theme__btn.darkTheme.dark {
    border: 2px solid $light-gray-lighter;

    &:hover {
      box-shadow: 0 0 2px 1px $light-gray-lighter;
    }
  }

  .theme__btn.lightTheme {
    @include light-gray-bgc;
    border: 2px solid $dark-gray-darken;

    &:hover {
      box-shadow: 0 0 2px 1px $dark-gray-darken;
    }
  }

  .theme__btn.lightTheme.dark {
    border: 2px solid $light-gray-lighter;

    &:hover {
      box-shadow: 0 0 2px 1px $light-gray-lighter;
    }
  }

  .theme__title {
    @include div-center;
    grid-area: title;
  }

  .theme__opt1 {
    @include div-center;
    grid-area: opt1;
  }

  .theme__opt2 {
    @include div-center;
    grid-area: opt2;
  }
}
